.quiz 
{
    margin-top: 190px;
    max-width: 500px;
   margin-left: 540px;
    padding: 20px;
    border: 5px solid #0a0808;
    border-radius: 5px;
    background-color: #f4f4f4;
  }
  .score-section
  {
    margin-top: 50px;
    box-sizing: 10px;
  }
  .question-section 
  {
    margin-bottom: 20px;
  }
  .question-count 
  {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .question-text
  {
    margin-top: 40px;
  }
  .options button 
  {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #514f92;
    cursor: pointer;
  }
  .options button :hover
  {
    background-color: #4caf50;
  }
  .options button:hover
  {
    background-color: #a94e6e;
  }
  .options .selected
  {
    background-color: #c77531;
  }
  .next-button
  {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  .next-button:disabled
  {
    background-color: #120c0c;
    cursor: not-allowed;
  }
  