.home-page {
    text-align: center;
  background-image: url("https://i.pinimg.com/originals/fa/c0/5c/fac05c110c458e9bab3a3248bfb3c376.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     height: 100vh; 
     padding: 60px;
    color: #cde8e8;
    overflow-y: hidden;
  }
  .contnt
  {
    margin-bottom: -10px;
    margin-left: 280px;
  }
  
  .txt
  {
    color: #f7f3f0;;
    margin-right: 700px;
    margin-top: 175px;
  }
  
  .quiz-button {
    
    padding:center;
    font-size: 19px;
    background-color: #9f773f;
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
    font-size: x-large;
    text-align: center;
   
  }
  .t1
  {
    color:#f8f9fb;
    margin-right: 700px;
    margin-top: 50px;
    font-size: x-large;
  }
  .no1
  {
    left: 50px;
  }
  
  .quiz-button:hover {
    background-color: #c1c177;
  }
  .but
  {
margin-left: 740px;
  }
  .n1
  {
    margin-top:-60% ;
  }
  .no2
  {
    margin-top: 220px;
  }
  .no3
  {
   margin-top: 220px;
  }
  