.quiz-container {
    max-width: 100%;
    padding: 20px;
    background-color: #f1f1f1;
  }
  
  .quiz-title {
    text-align: center;
  }
  
  .question {
    margin-bottom: 20px;
  }
  
  .question-text {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .options-container {
    color: #4caf50;
    font-style: normal;
    flex-direction: column;
    margin-left: -800px;
    margin-right: 200px;
}

  .option-label {
    color: black;
    align-items: left;
    margin-bottom: 10px;
    font-size: 16px;
    margin-right: 600px;
    margin-left: -700px ;
  }
  
  .option-input {
    margin-right: 10px;
  }
  
  .submit-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4caf50;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  