.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110vh;
  padding: 30px;
  background-image: url('reimage..jpg');
  background-size: cover;
  background-position: center;
  color: #ffffff;
}

.register-container h2 {
  font-size: xx-large;
  line-height: 20px;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(242, 236, 236, 0.5);
}
.log
{
  font-size: larger;
  margin-top: 5px;
  margin-bottom: 15px;
  color: #ffffff;
}

.input-container {
  margin-bottom: 10px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.input-container input {
  padding: 8px;
  width: 100%;
  border: 10px solid #eee7e7;
  border-radius: 3px;
}

.register-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 32px;
}
.reg
{
background-image: url("bimage.jpeg");
}
